html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 11rem;
}

.mini-logo {
  width: 2rem;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 7rem;
  }
}

.inf-slide {
  animation: infslide 20s infinite linear;
}

@keyframes infslide {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1320px;
  }
}
